<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'page_header', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'sidebar', taxonomies: @taxonomies %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area' %>
          <%= render 'product_boxes', products: @products %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'page_slides' %>
</div>
<%= render 'shared/login_modal' %>
<%= render 'shared/signup_modal' %>
