<div class="media-left productSlider">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% product.images.each do |image| %>
        <div class="item <%= "active" if image.position - 1 == 0 %>" data-thumb=<%= image.position - 1 %>>
          <%= image_tag(image.url(:large)) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clearfix">
    <div id="thumbcarousel" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <% product.images.each do |image| %>
          <div data-target="#carousel" data-slide-to=<%= image.position - 1 %> class="thumb"><%= image_tag(image.url(:product)) %></div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
