<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <%= render 'page_header', product: @product %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <%= render 'media_left', product: @product %>
            <%= render 'media_body', product: @product %>
          </div>
        </div>
      </div>
      <%= render 'products_content', related_products: @related_products %>
    </div>
  </section>
</div>
<%= render 'shared/login_modal' %>
<%= render 'shared/signup_modal' %>
